body {
  background: #30D9BA;
  font-family: 'Roboto';
}

div {
  background-color: #30D9BA;
  border-radius: 25px;
}

.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: larger;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: #177359;
  color: #BF41B7;
  border-radius: 25px;
}

.header {
  text-align: center;
  font-family: 'Righteous';
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  width: 75%;
  border: 5px solid #177359;
  padding: 10px;
  color: #177359;
  font-size: 30px;
  border-radius: 25px;
}

.mainComponent {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-left: 22%;
  width: 75%;
  border: 5px solid #177359;
  padding: 10px;
  height: 600px;
}

.mainComponent h2 {
  font-family: 'Righteous';
  font-size: 34px;
}

.loginContainer {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content:right;
  height: 200px;
  width: 200px;
}

.reservationForm {
  margin: auto;
  width: 50%;
  border: 2px solid #177359;
  padding: 10px;
  border-radius: 5px;
}

.reservationTable {
  margin: auto;
  width: 50%;
  border: 2px solid #177359;
  padding: 10px;
  border-radius: 5px;
}


