body {
  background: #30D9BA;
  font-family: 'Roboto';
  height: 100%;
}

div {
  background-color: #30D9BA;
  border-radius: 25px;
}

.sidebar {
  height: 90%;
  width: 220px;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 25px;
  /* background-color: #177359; */
  border-radius: 25px;
  border: 5px solid #177359;
}

.sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  font-family: 'Righteous';
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  width: 75%;
  height: 150px;
  border: 5px solid #177359;
  padding: 10px;
  color: #400235;
  font-size: 30px;
  border-radius: 25px;
}

h1 {
  text-shadow: #BF41B7 -2px 4px;
}

.mainComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 22%;
  width: 75%;
  border: 5px solid #177359;
  padding: 10px;
  height: 680px;
  overflow-x: hidden;
  overflow-y: auto;
}

.mainComponent h2 {
  font-family: 'Righteous';
  font-size: 34px;
  color: #400235;
}

.loginContainer {
  display: flex;
  flex-direction:column;
  align-items: center;
  height: 100px;
  width: 300px;
}

.inputContainer {
  justify-content: right;
  height: 200px;
  width: 200px;
}

.reservationForm {
  margin: auto;
  width: 450px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.menuForm {
  margin: auto;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.reservationTable {
  margin: auto;
  width: 75%;
  border: 2px solid #177359;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.reservationTable td {
  height: 30px;
}

.menu {
  margin: auto;
  width: 75%;
  border: 2px solid #177359;
  padding: 5px;
  border-radius: 5px;
  list-style-position: inside;
  background-color: #52e8cc;
  text-align: center;
}

.menu h4{ 
  font-family: 'Righteous';
  font-size: 22px;
  font-weight: normal;
  color: #BF41B7;
}
