body {
  background: rgb(192, 7, 7);
  font-family: 'Roboto';
}


h1 {
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: larger;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: rgb(9, 0, 0);
}

.header {
  margin: auto;
  width: 100%;
  border: 5px solid rgb(0, 128, 122);
  padding: 10px;
  background-color: rgb(192, 7, 7);
}

.loginComponent {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
  border: 5px solid rgb(0, 128, 122);
  padding: 10px;
  height: 400px;
  background: rgb(192, 7, 7);
}

.loginContainer {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  background-color: rgb(192, 7, 7);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content:right;
  height: 200px;
  width: 200px;
}

.reservationForm {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 128, 122);
  padding: 10px;
}


.reservationTable {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 128, 122);
  padding: 10px;
}


